.selector {
  display: block;
  color: blue;
  font-family: Helvetica, sans-serif;

  &__module {
    display: flex;
    flex-direction: column;

    &--modifier {
      flex-direction: row;
    }
  }

  &__anotherModule {
    display: block;
    color: red;
    font-family: Helvetica, sans-serif;
  }
}
